:root {
  --background-color: rgb(30, 30, 30);
  --foreground-color: rgb(22, 22, 22);
  --text-color: rgb(230, 230, 230);
  --main-color: rgb(41, 116, 255);
  --transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 200ms;
}
/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
/* END CSS RESET */

/* DEFAULT */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

main {
  display: flex;
  justify-content: center;
}

.page-title {
  color: var(--text-color);
  transition: var(--transition);
}

.page-title:hover {
  opacity: 0.75;
}

.container {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-top: 50px;
}

.container div {
  margin-bottom: 24px;
}

hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  margin-block: 20px;
}
/* END DEFAULT */

/* BUTTONS */

.btn-group {
  display: flex;
  justify-content: right;
}

.btn {
  position: relative;
  padding: 16px 32px;
  border: none;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.btn:hover {
  transform: scale(1.1);
}

.btn-solid {
  background-color: var(--main-color);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: inset 0px 0px 3px rgba(255, 255, 255, 0.15);
  transition: var(--transition);
  outline: 1px solid transparent;
}

.btn-solid:hover {
  background-color: rgb(60, 60, 60);
  box-shadow: none;
  color: var(--text-color);
}

.btn-transparent {
  background-color: transparent;
  color: var(--main-color);
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid var(--main-color);
  transition: var(--transition);
}

.btn-transparent:hover {
  border-color: transparent;
  color: #000;
  box-shadow: inset 0px 0px 3px rgba(255, 255, 255, 0.15);
  background-color: rgb(230, 230, 230);
}

.tooltip {
  position: absolute;
  top: 100px;
  opacity: 0;
  background-color: rgb(60, 60, 60);
  padding: 10px;
  border-radius: 4px;
  font-size: 12px;
  width: 80px;
  left: 50%;
  visibility: hidden;
  transform: translateX(-50%);
  box-shadow: 0px 3px 5px rgb(20, 20, 20);
  pointer-events: none;
  transition: var(--transition);
}

.tooltip::before {
  content: " ";
  position: absolute;
  background-color: rgb(60, 60, 60);
  top: -1px;
  left: 50%;
  width: 10px;
  height: 10px;
  transform: rotate(45deg) translateX(-50%);
}

.btn:hover > .tooltip {
  visibility: visible;
  top: 62px;
  opacity: 1;
}

.btn-icon {
  font-size: 24px;
}

/* END BUTTONS */

/* COLORS */

.primary {
  color: var(--text-color);
  background: var(--main-color);
}

.danger {
  color: var(--text-color);
  background-color: rgb(150, 0, 0);
}

.orange {
  color: var(--text-color);
  background-color: rgb(250, 100, 0);
}

.light {
  color: rgb(20, 20, 20);
  background-color: rgb(230, 230, 230);
}

.dark {
  color: rgb(230, 230, 230);
  background-color: rgb(20, 20, 20);
}

/* END COLORS */

/* FORMS */

.input-group {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#input-set-coins {
  background-color: rgba(255, 255, 255, 0.15);
  transition: var(--transition);
}

#input-set-coins:focus {
  background-color: rgb(230, 230, 230);
}

input {
  border-radius: 4px;
  border: none;
  padding: 12px;
  text-align: center;
  width: 100%;
}

label {
  top: -12px;
  padding-inline: 10px;
  left: 8px;
  border-radius: 4px;
  color: var(--text-color);
  min-width: fit-content;
}

.range-label {
  background-color: var(--main-color);
  padding: 8px 14px;
  font-weight: 500;
  border-radius: 100px;
}

.label-top {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.slider {
  appearance: none;
  width: 100%;
  border-radius: 1000px;
  height: 18px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 500ms;
  padding: 0;
}
.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  transform: scale(1.1);
  border-radius: 100px;
  background: var(--main-color);
  cursor: pointer;
  transition: var(--transition);
}

.slider::-webkit-slider-thumb:hover {
  transform: scale(1.5);
}

.slider:hover {
  opacity: 1;
}

/* END FORMS */

/* MARGIN */
.mt {
  margin-top: 25px;
}

.mb {
  margin-bottom: 25px;
}

.ml {
  margin-left: 15px;
}

.mr {
  margin-right: 15px;
}
/* END MARGIN */

/* POSITIONING */

.d-flex {
  display: flex;
}

.d-align-right {
  justify-content: right;
}

.d-align-left {
  justify-content: left;
}

.d-align-center {
  justify-content: center;
}

/* END POSITIONING */

/* RESPONSIVE QUERIES */

@media screen and (max-width: 768px) {
  .container {
    width: 92%;
  }
}

/* ANIMATIONS */

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes translate-y {
  from {
    transform: translateY(150px);
  }
  to {
    transform: translateY(0px);
  }
}

.error-anim {
  animation: error-anim 1s ease-in-out infinite;
}

@keyframes error-anim {
  0% {
  }

  50% {
    outline: 3px solid red;
  }

  100% {
  }
}

/* END ANIMATIONS */
